<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHADOWCSS - Editor</title>
    <meta name="description" content="Best CSS Shadow editor. Totally free!">
    <meta name="keywords" content="CSS Box-Shadow, Web Design, Visual Effects, Presets, Web Projects, CSS Techniques, Web Development, Design Tips, Creative Enhancements, User Engagement, CSS Styling, Eye-catching Effects, Web Design Skills, Ready-to-Use, Expert Tips, Web Aesthetics, User Experience (UX), Web Graphics, Web Elements, HTML/CSS Styling, Shadow, Editor, Maker, CSS Shadow, box-shadow, shadow editor, shadow maker, css shadow maker, css shadow editor, HTML, CSS, JavaScript">
    <script type="text/javascript">
        window.location.replace('/editor.html');
    </script>
</head>
<body>
    
</body>
</html>
